
<div id="navbar">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 logo d-flex justify-content-between">
    <a href="#default" id="logo">globel computers</a>
    <p class="toggle" id="flip">☰ Menu</p>
    </div>

    <div class="col-xs-0 col-sm-0 col-md-0 col-lg-9 navbar-right" id="panel">
        <a routerLink="/Home" onclick="maya()">Home</a>
        <a routerLink="/Courses" onclick="maya()">Courses</a>
        <a routerLink="/Home">Gallery</a>
        <a routerLink="/Contact" onclick="maya()">Contact</a>
        <a routerLink="/Login" onclick="maya()" class="profile">Login</a>

        
</div>
</div>
  </div>
  

  





