
img{
  max-width: 100%;
  height: auto;
}

#navbar {
  background-color: #183b56;
  background-image: radial-gradient(rgb(3, 35, 56),#183b56);
  padding: 44px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
  font-size: 17px;
  text-align: center;
  margin-left: 20px;
  font-family: bree serif;

}

.nav-link{
	position: relative;
}
.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    transform: scaleX(0);
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}
#navbarNav ul li .active{
	color: deepskyblue;
	transition: ease-in-out 1.5s;
}


.navbar-light .navbar-brand {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  transition: 0.4s;
}


/*-------------------------------------mobile-respnse-----------------------------------------------------*/

@media screen and (max-width: 992px) {


  .nav-link:hover::after{
    transform: scaleX(0);
}
.navbar-light .navbar-nav .nav-link{
 margin-left: 0px;

}
    
}































