<div class="container-fluid header-sec">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 logo">
            <img src="../../assets/images/logo2.png">
            <div class="toggle">         
                <button class="openbtn" id="flip">☰ Menu</button>
            </div>
        </div>

        <div class="col-xs-0 col-sm-0 col-md-0 col-lg-7 sidepanel" id="panel">

            <a routerLink="/Home" onclick="maya()">Home</a>
            <a routerLink="/Courses" onclick="maya()">Courses</a>
            <a routerLink="/Home">Gallery</a>
            <a routerLink="/Contact" onclick="maya()">Contact</a>
            <a routerLink="/Login" onclick="maya()">Login</a>

        
        </div>
    </div>
</div>









<!--
<div class="header-sec">
<div class="logosec d-flex flex-row">
    <img src="../../assets/images/logo2.png">
    <div class="openbtns">
        <button class="openbtn" id="flip">☰ Menu</button>
    </div>
</div>

<div id="mySidepanel" class="sidepanel" id="panel">
    <a routerLink="/Home">Home</a>
    <a routerLink="/Courses">Services</a>
    <a >Clients</a>
    <a routerLink="/Contact">Contact</a>
</div>
</div>
-->

<!--
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a routerLink="/Home">About</a>
    <a routerLink="/Courses">Services</a>
    <a routerLink="/Gallery">Clients</a>
    <a routerLink="/Contact">Contact</a>
  </Contact
  <bContactlass="openbtn" onclick="openNav()">☰ Toggle Sidepanel</button>  -->