*{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}
.footer-sec{
    height: 100%;
    min-width: 100%;
    background-color: #2c3e50;

}
.logo h1{
    height: 100px;
    margin-top: 5%;
    display: block;
    margin-left: 20%;
    color: #fff;
    
}
.logo iframe{
    border: none;
    height: 200px;
    width: 520px;
    margin: auto 20px;
}

.menu h2{
color: #fff;
text-transform: capitalize;
font-size: 30px;
margin: 45px 0px 15px 0px;
border-bottom: 3px solid deepskyblue;
width: 40px;


}

.menu ul li{
list-style: disclosure-closed;
line-height: 45px;
font-family: roboto;

}
.menu ul li a{
color: #fff;
text-transform: capitalize;

}
.one{
    float: left;
}
.two{
    float: right;
}
.developers{
    background-color: #00002a;
    height: 50px;


}
.developers p{
color: #fff;
text-transform: capitalize;
text-align: center;
font-weight: bold;
padding-top: 10px;
font-family: roboto;

    
}
span{
    color: rgb(6, 61, 245);
}
.menu ul li .active{
	color: deepskyblue;
	transition: ease-in-out 1.5s;
}


/*------------------------------------------------------------------------------*/

@media only screen and (max-width:768px){
}

@media only screen and (max-width:479px){


}

@media only screen and (max-width:992px){
    .logo h1 {
        margin: 2% auto;
        text-align: center; 
      }
      .logo iframe{
          width: 100%;
          height: 200px;
          margin: auto;
      }
      .menu-one{
          margin-left: 10%;
      }
      .menu ul{
          margin: auto;
      }


}

