<div class="container-fluid footer-sec">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 logo">
            <h1>Globel computers</h1>
            <iframe src="https://maps.google.com/maps?q=global%20computers%20ravulapalem&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 menu">
            <div class="menu-one">
            <h2>menu</h2>
            <ul>
                <li><a routerLink="/Home" (click)="getActiveTab('Home')"
                    [class.active]="activetab === 'Home'">Home</a></li>
                <li><a routerLink="/Contact" (click)="getActiveTab('Contact')"
                    [class.active]="activetab === 'Contact'">contact us</a></li>
                <li><a routerLink="/Courses" (click)="getActiveTab('Courses')"
                    [class.active]="activetab === 'Courses'">Courses</a></li>
                <li><a routerLink="/Courses" (click)="getActiveTab('Courses')"
                    [class.active]="activetab === 'Courses'">about us</a></li>



            </ul>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 menu">
            <h2>courses</h2>
            <ul class="one">
                <li><a routerLink="Courses/Dca" (click)="getActiveTab('Courses/Dca')"
                    [class.active]="activetab === 'Courses/Dca'">MS WORD</a></li>
                <li><a routerLink="Courses/Dtp" (click)="getActiveTab('Courses/Dtp')"
                    [class.active]="activetab === 'Courses/Dtp'">MS EXCEL</a></li>
                <li><a routerLink="Courses/Powerpoint" (click)="getActiveTab('Courses/Powerpoint')"
                    [class.active]="activetab === 'Courses/Powerpoint'">MS POWERPOINT</a></li>

                <li><a routerLink="Courses/Tally" (click)="getActiveTab('Courses/Tally')"
                    [class.active]="activetab === 'Courses/Tally'">TALLY</a></li>
                <li><a routerLink="Courses/Photoshop" (click)="getActiveTab('Courses/Photoshop')"
                    [class.active]="activetab === 'Courses/Photoshop'">PHOTOSHOP</a></li>
                <li><a routerLink="Courses/Pagemaker" (click)="getActiveTab('Courses/Pagemaker')"
                    [class.active]="activetab === 'Courses/Pagemaker'">PAGE MAKER</a></li>

            </ul>
            <ul class="two">
                <li><a routerLink="Courses/C" (click)="getActiveTab('Courses/C')"
                    [class.active]="activetab === 'Courses/C'"> C LANGUAGE</a></li>
                <li><a routerLink="Courses/Cplusplus" (click)="getActiveTab('Courses/Cplusplus')"
                    [class.active]="activetab === 'Courses/Cplusplus'"> C++</a></li>
                <li><a routerLink="Courses/Csharp" (click)="getActiveTab('Courses/Csharp')"
                    [class.active]="activetab === 'Courses/Csharp'"> C#</a></li>

                <li><a routerLink="Courses/Dotnet" (click)="getActiveTab('Courses/Dotnet')"
                    [class.active]="activetab === 'Courses/Dotnet'">.NET</a></li>

                <li><a routerLink="Courses/Java" (click)="getActiveTab('Courses/Java')"
                    [class.active]="activetab === 'Courses/Java'">JAVA</a></li>
                <li><a routerLink="Courses/Python" (click)="getActiveTab('Courses/Python')"
                    [class.active]="activetab === 'Courses/Python'">PYTHON</a></li>

            </ul>
        </div>
    </div>

        <div class="row">
        <div class="col-12 developers">
            <p>Designed and Developed by NAGENDRA</p>
            </div>
            </div>
            




</div>

