<div class="container-fluid footer-sec">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 logo">
            <img src="../../assets/images/logo2.png">
            <iframe src="https://maps.google.com/maps?q=global%20computers%20ravulapalem&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 menu">
            <div class="menu-one">
            <h2>menu</h2>
            <ul>
                <li><a routerLink="/Home">Home</a></li>
                <li><a routerLink="/Contact">contact us</a></li>
                <li><a routerLink="/Courses">Courses</a></li>
                <li><a routerLink="/Courses">about us</a></li>



            </ul>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 menu">
            <h2>courses</h2>
            <ul class="one">
                <li><a><abbr title="Diploma in Computer Application">DCA</abbr></a></li>
                <li><a><abbr title="Desktop Publishing">DTP</abbr></a></li>
                <li><a><abbr title="Transactions Allowed in a Linear Line Yards">TALLY</abbr></a></li>
                <li><a routerLink="Courses/Photoshop">PHOTOSHOP</a></li>
            </ul>
            <ul class="two">
                <li><a>PAGE MAKER</a></li>
                <li><a>C,C++</a></li>
                <li><a>JAVA</a></li>
                <li><a>PYTHON</a></li>

            </ul>
        </div>
    </div>

        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 developers">
            <p>Designed and Developed by NAGENDRA & SAI KRISHNA</p>
            </div>
            </div>
            




</div>

