.notfound h1{
    margin-left: 40%;
    font-size: 100px;
    margin-top: 150px;
}
.notfound p{
    color: red;
    margin-left: 10%;
    font-size: 50px;
    text-transform: capitalize;
}
.notfound{
    height: 400px;
    margin-top: 300px;
}