*{
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.homesec{
    height: 300px;
    width: 100%;
}
.imgbox{
    height: 300px;
    width: 100%;
}
.carousel-caption h1,p{
    color: black;
}
.carousel-caption{
    margin: auto;
    top: 80px;
}

@media only screen and (max-width:479px){

    
}
