<div class="full-dca">
    <h1>python</h1>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 dca-imgsec">
            <img src="../../../assets/images/ms office img.webp">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 dca-papasec">
            <p>Microsoft Word is a critical productivity tool for both business and personal use. Create and edit 
                professional documents that can easily be shared on the web. Or, learn advanced techniques to help you
                 analyze data, produce templates and automate processes.

                globel computers Computer Learning Center has courses to help you learn how to use Microsoft Word and 
                accelerate your skills in document creation and word processing. All globel computers Microsoft Word 
                classes are taught by Microsoft Certified Trainers..</p>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 list-sec">
            <p class="topic">main topics:</p>
            <ul>
                <li>New Microsoft Word features</li>
                <li>How to create, edit, save and collaborate on documents</li>
                <li>Formatting texts and paragraphs</li>
                <li>Working with tables, columns and other formatting features</li>
                <li>Creating graphics, WordArt, charts and text flow</li>
                <li>Developing Microsoft Word document templates</li>
                <li>Advanced features including mail merge, macros, document versioning and proofing tools</li>
                <li>Produce, edit and format professional documents</li>
                <li>Create tables, charts and graphics to organize content and assess data.</li>
                <li>and many more.....</li>


            </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 joy-imgsec">
            <p class="topic">with joy of learning</p>
            <img src="../../../assets/images/joy.jpg">
        </div>



    </div>

</div>
