*{
  margin: 0;
  padding: 0;
}

.total{
    height: 100vh;
  }
  .sidenav {
    height: 100vh;
    left: 0;
    position: sticky; 
    overflow-x: hidden;
    width: 0;
    background-color: #00002a;
   }
    
    
    .sidenav a ,p{
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 18px;
      display: block;
      margin-bottom: 30px;
      width: 340px;
      text-align: start;
      margin-left: 5px;
      color: #818181;
    }
    .sidenav p{
      text-align: center;
      cursor: pointer;
    }
    
    .sidenav a:hover,p:hover {
      font-weight: 500;
      color: honeydew;
    }
  
    .sidenav h2{
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .topnav{
      display: none;
    }

    @media only screen and (max-width:576px){

      .sidenav {
        display: none;
       }
       .topnav{
         display: block;
       }
    
    
    }
    
    
    
  
   
  