*{
  margin: 0;
  padding: 0;
}

.total{
    height: 100vh;
    margin-top: 137px;

  }
  .sidenav {
    height:100vh;
    left: 0;
    position: sticky; 
    overflow-x: hidden;
    width: 0;
    background-color: #00002a;
    padding: 20px;

   }
    
    
    .sidenav a{
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 18px;
      display: block;
      margin-bottom: 7px;
      text-align: start;
      margin-left: 5px;
      color: #818181;
      text-transform: capitalize;
    }

    .sidenav ul{
      padding: 20px;

    }
    .sidenav ul li{

      list-style: none;
    }
    .sidenav p{
      text-align: start;
      color: #fff;
      text-transform: capitalize;
      font-weight: 400;
    }
    i{
      margin: 10px;
    }
    
    .sidenav a:hover{
      font-weight: 500;
      color: honeydew;
    }
  
    .sidenav h1{
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
        text-transform: capitalize;
    }
    .topnav{
      display: none;
    }

    @media only screen and (max-width:576px){

      .sidenav {
        display: none;
       }
       .topnav{
         display: block;
         margin-top: 137px;
       }
       .total{
        margin-top: 0px;
    
      }
    
    
    
    }
    
    
    
  
   
  