<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topnav">

    <app-rescourse></app-rescourse>
  </div>
</div>

<div class="container-fluid total">
    <div class="row">
  
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 sidenav">
        <h2>list of courses</h2>
        <a routerLink="Dca">DCA</a>
        <a routerLink="Dtp">DTP</a>
        <a routerLink="Tally">TALLY</a>
        <a routerLink="Photoshop">PHOTOSHOP</a>
        <a routerLink="Pagemaker">PAGE MAKER</a>
        <a routerLink="C"> C, C++</a>
        <a routerLink="Java">JAVA</a>
        <a routerLink="Python">PYTHON</a>

      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 sai">
        <router-outlet></router-outlet>
      </div>
  
    </div>
  </div>