*{
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.loginforms{
    height: 100%;
    background-color: white;
    margin-top: 168px;

}
.login-firstsec img{
    height: 500px;
    width: auto;
}
.form-box{
    margin: auto;
}
.form-box h1{
    margin: auto;
    text-align: center;
    font-family: ui-rounded;
    text-transform: capitalize;
    color: rgb(9, 48, 223);
    margin-bottom: 30px;
}
.form-box input[type=text],input[type=password]{
    width: 30%;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    text-transform: capitalize;
    border: 1px solid;
}
.form-box input[type=submit]{

    margin: auto;
    display: flex;
    padding: 5px 20px;
    margin-bottom: 30px;
}
.form-box small{
    margin-left: 35%;
    display: flex;
    top: 0;
}

@media only screen and (max-width:992px){
    .form-box input[type=text],input[type=password]{
        width: 50%;
    }
}

@media only screen and (max-width:768px){
    .card-section{
        margin: auto;
        width: auto;
        height: auto;
    }
    .login-firstsec img{
        display: flex;
        margin: auto;
        height: 300px;
    }
        
}

@media only screen and (max-width:479px){
    .form-box input[type=text],input[type=password]{
        width: 70%;
    }
    .form-box small{
        margin-left: 20%;
        display: flex;
}

}