<div class="loginforms">

    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 login-firstsec">
        <img src="../../assets/images/login img2.png">
    </div>



    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 form-box">
            <form [formGroup]="Loginform" class="form-group" class="input-grp" id="login">
                <h1>login</h1>
                <input type="text" placeholder="username" formControlName="username" name="username"
                    class="form-control" [class.is-invalid]="Loginform.get('username').invalid && Loginform.get('username').touched ">
                <small [class.d-none]="Loginform.get('username').valid || Loginform.get('username').untouched "
                    class="text-danger">Username is requied</small>
            
            
                <input type="password" placeholder="password" formControlName="password" name="password"
                    class="form-control"
                    [class.is-invalid]="Loginform.get('password').invalid && Loginform.get('password').touched ">
                <small [class.d-none]="Loginform.get('password').valid || Loginform.get('password').untouched"
                class="text-danger">Password must have 6 digits</small> 
                
                
                <input type="submit" class="btn btn-success"placeholder="submit" [disabled]="!Loginform.valid">
            </form>
    </div>
</div>
</div>



