<div class="contact-sec">
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 address">
            <h1>get in touch with us</h1>
            <h5>District Informatics Officer
                National Informatics Centre
                Collectorate Compound
                West Godavari</h5>
            <button>address:</button>
            <p>Site Administrator National Informatics Centre Collectorate Compound</p>
            <button>phone:</button>
            <p> 08812-233420 </p>
            <button>email</button>
            <p> E-mail : apwgo[at]nic[dot]in</p>
        </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contactform">
           <p>send a query</p>
            <input type="text" placeholder="your name" required class="form-control">
            <input type="email" placeholder="your email" required class="form-control">
            <input type="number" placeholder="mobile number" required class="form-control">
            <select class="form-control">
                <option>SELECT COURSE</option>
                <option>DCA</option>
                <option>DTP</option>
                <option>TALLY</option>
                <option>PHOTOSHOP</option>
                <option>PAGE MAKER</option>
                <option>C</option>
                <option>C++</option>
                <option>JAVA</option>
                <option>PYTHON</option>
            </select>
    
            <textarea placeholder="message" class="form-control"></textarea>
            <input type="submit" class="btn btn-primary">

        </div>
    </div>

</div>
