<div class="full-powerpoint pt-5 pb-3">
    <h1>microsoft powerpoint</h1>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 powerpoint-imgsec">
            <img src="../../../assets/images/undraw_powerpoint.svg">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 powerpoint-papasec">
            <p>Microsoft PowerPoint is full of features which allow you to present information in a concise and exciting
                 format. globel computers has the Microsoft PowerPoint courses and training you need to help you create 
                 professional and captivating presentations.

                We offer world-class training for several versions, including Office 365, 2019, 2016, 2013, 2010, and 
                 2007. And, of course, all classes are delivered by one of our Microsoft Certified Trainers. Whether 
                 you're new to PowerPoint or an advanced user, our training will cover all you need to know to become a
                  PowerPoint power user...</p>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 list-sec">
            <p class="topic">main topics:</p>
            <ul>
                <li>New Features of PowerPoint</li>
                <li>Creating presentations with PowerPoint</li>
                <li>formatting and organizing PowerPoint slides</li>
                <li>Working with graphics, tables and charts</li>
                <li>Adding multimedia and SmartArt to presentations</li>
                <li>Integrating with Microsoft Office files</li>
                <li>New chart options</li>
                <li>Query box to easily locate PowerPoint tools and features</li>
                <li>Ink equations Screen recording</li>
                <li>and many more.....</li>


            </ul>
        </div>

        
        <div class="col-12  col-md-7 order-md-2 order-1 joy-imgsec">
            <p class="topic">check the preferred topics</p>
            <img src="../../../assets/images/undraw_To_do_list_re_9nt7.png">
        </div>



    </div>

</div>







