<div class="container-fluid three">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h1>Rajahmundry To Papikondalu Resorts 2 Days Tour Package</h1>
            <img src="../../../assets/images/papikondalu-resorts.jpg" alt="punnami">
            <h6>papikondalu resorts</h6>
            
            <div class="price3">
                <h3>Adult : Rs.3000/-(A/C)</h3>
                <h3>Child  : Rs.2400/- (A/C)</h3>
                <h3>Child Age limit : 5 to 10 Years</h3>

                <h4>Reporting Place:</h4>
                <h5>Punnami Tours & Travels
                    Time: 7.00 AM, Near Titan Watch Showroom, Godavari Bund Road, Rajahmundry.</h5>
            </div>

            <div class="schedule3">
                <h2>Tour Schedule:</h2>
                <h4>Facilities available in the Boat :</h4>
                <p>Boat Manager with Staff members and Guide.</p>
                <p> Ground floor with seating having Toilet.</p>
                <p> Ist floor in open deck with dias and audio system.</p>
                <p>Complimentary entertainment programmes.</p>


                <h5>Places covered : Gandipochamma Temple, Papikondalu, Perantapalli Ashramam and Temple.</h5>
                <h5>View on Boat : Polavaram Project Area, Devipatnam, Koruturu Cottages, Kolluru Bamboo huts.</h5>

                <h4>Package includes:</h4>
                <p>1st day: Pick up from Railway Station, Breakfast, Vegetarian Lunch, Evening Snacks with Tea
                    and Non-Veg dinner. Night accommodation at Kolluru Bamboo huts with camp fire.</p>
                <p>2nd day: Breakfast, Non-Veg Lunch and evening Snacks with Tea. Dropping at Railway station.</p>

                <h4>1st Day:</h4>
                <p>7:30 AM Pick up from Railway Station and fresh up at LODGE. Road journey to Polavaram revu/
                    Purushothapatnam revu.</p>
                <p>9.00 AM Check in to Boat. Breakfast in the Boat, then journey starts on holy river Godavari</p>
                <p>10.00 AM Reach GandiPochamma Temple situated on bank of River Godavari, darshan                </p>
                <p>11.00 PM Boat journey. via DevipatnaM. POLICE CHECK UP.</p>
                <p>1.00 PM Vegetarian lunch in the Boat while on journey.</p>
                <p>2.00 PM Reach Papi Hills which are three in number situated like a wall in the middle of River
                    godavari separating districts EAST, WEST and KHAMMAM. Journey in between "Papikondalu"
                    is a memorable experience, enjoy the scenic beauty.</p>
                <p>3.00 PM Reaches Perantapalli Tribal Village. Visit "Ramakrishna muni vatika which was
                    established by Late Poojya Swamiji Balananda Saraswathi during 1927. Darshan of Swayambu
                    Lingakara Sri Veereswa Swamy and local sight seeing then journey towards Camp site.
                    </p>
                <p>4.30 PM Reaches Bamboo huts situated on the bank of River godavari at Kolluru Tribal Village
                    of Khammam district. Check out Boat, evening snacks and free time at Camp site. Night Non Veg.</p>
                <p>Dinner and accommodation in huts with camp fire.</p>

                <h4>2nd Day:</h4>
                <p>6.00 AM Local sight seeing by walk in the Forest area with guide. Bathing in "PAMALERU wagu"
                    situated in between Papikondalu, is a memorable experience.</p>
                <p>9.00 AM Breakfast will be provided at camping site. Free time for local sight seeing.</p>
                <p>12.30 Noon
                    2.00 PM NON-Veg lunch WITH 2 ITEMS & 3.00pm BOAT PICKUP.</p>


                <h4>Return journey by Boat</h4>
                <p> 6.30 PM Reaches Pattiseema revu / Polavaram revu / Purushothapatnam revu.                </p>
                <p>7.00 PM to 8 PM By road journey to Rajahmundry and dropping to Railway Station</p>
                <span>IF YOU WANT BHADRACHALAM DROPING WE WILL ARRANGE. EX 100/-</span>
                <p>1. PICKUP FROM KOLLURU & PASSING POCHAVARAM IN NON A/C BY BOAT.(2.30 - 4.00pm)</p>
                <p> 2. POCHAVARAM TO BHADRACHALAM ON ROAD 2 HOURS.</p>
                <p> 3. REACHING BHADRACHALAM at: 6.00pm. TEMPLE CLOSSING @ 9.00pm.</p>

                <button class="btn btn-primary" routerLink='/Booknow'>Book Now</button>


                </div>



        </div>
            </div>
            </div>
            