*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}


.dca-sec{
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: 0.5s;
    display: flex;
    margin: 1px auto;

}
.dca-sec img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;

}
.fullsec{
    background-color: rgb(40, 43, 46);
    height: 100%;
transition: 0.5s;
}