<div class="fullsec">
    <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/dca1.jpg" routerLink="Dca" (click)="callfun()">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/photoshop1.jpg">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 dca-sec">
    <img src="../../assets/images/python1.png" routerLink="Python">
</div>

</div>

</div>