<div class="container-fluid home-sec">


    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <img src="../../assets/images/img1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <button>enroll now</button>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="../../assets/images/img2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <button>enroll now</button>
                </div>

            </div>
            <div class="carousel-item">
                <img src="../../assets/images/img3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <button>enroll now</button>
                </div>

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="containercards-sec">
        <h1>courses</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">
                        <img src="../../assets/images/word.png">
                        <h1>ms word</h1>

                    </div>

                    <div class="content-sec" id="nag">
                        <ul>
                            <li>New Microsoft Word features.</li>
                            <li>create & collaborate on documents.</li>
                            <li>Formatting texts & paragraphs.</li>
                            <li>Working with tables & formatting features.</li>
                            <li>Creating graphics & WordArt.</li>
                            <p class="view">click here to view curriculam >></p>

                        </ul>
                    </div>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/ms excel img2.jpg">
                        <h1>ms excel</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Newest Features of Excel</li>
                            <li>Performing basic to advanced calculations using formulas</li>
                            <li>Formatting and printing worksheets</li>
                            <li>Creating powerful charts and graphs</li>
                            <li>Pivot tables and pivot charts</li>
                            <p class="view">click here to view curriculam >></p>


                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/PowerPoint img2.jpg">
                        <h1>ms powerpoint</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>New PowerPoint features</li>
                            <li>Formatting and organizing slides</li>
                            <li>Working with graphics, tables and charts</li>
                            <li>Adding multimedia and SmartArt presentations</li>
                            <p class="view">click here to view curriculam >></p>
                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/c language.png">
                        <h1>c language</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Overview of C</li>
                            <li>Datatypes & Variables Declaration</li>
                            <li>Implicit and Explicit Casting</li>
                            <li>Enum and Constant</li>
                            <li>Control Structures</li>
                            <li>Arrays,Methods,Out and Parameters</li>
                            <p class="view">click here to view curriculam >></p>


                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/c++ img 2.png">
                        <h1>c++</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Overview of C++</li>
                            <li>Decision Control and Looping Statements.</li>
                            <li>Functions</li>
                            <li>Arrays</li>
                            <li>Classes and Objects</li>
                            <p class="view">click here to view curriculam >></p>


                        </ul>
                    </div>

                </div>

            </div>


            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/csharp img.jpg">
                        <h1>C# </h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Overview of C#</li>
                            <li>History and introduction.</li>
                            <li>Implicit and Explicit Casting</li>
                            <li>Control statement, functions</li>
                            <li>arrays, and object classes</li>
                            <li>Properties, inheritance, polymorphism,</li>
                            <p class="view">click here to view curriculam >></p>


                        </ul>
                    </div>

                </div>

            </div>


            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/dotnet img.jpg">
                        <h1>.net</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>.NET Framework introduction</li>
                            <li>Framework Components</li>
                            <li>Base Class Library/Framework Class Library</li>
                            <li>CTS,CLS</li>
                            <li>JIT Compilers</li>
                            <p class="view">click here to view curriculam >></p>

                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/java img.png">
                        <h1>java</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Getting Started With Java</li>
                            <li>Essential Java Programming</li>
                            <li>Object Oriented Development</li>
                            <li>Exception Handling</li>
                            <li>Java Developer's Toolbox</li>
                            <li>Working With Collections</li>
                            <p class="view">click here to view curriculam >></p>

                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/python img2.png">
                        <h1>python</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Set up Python and develop a simple application.</li>
                            <li>Declare and perform simple data types & data structures.</li>
                            <li>Write conditional statements and loops.</li>
                            <p class="view">click here to view curriculam >></p>

                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/tally img.png">
                        <h1>tally</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>How to view and generate financial reports in Tally</li>
                            <li>How to record business transactions in Tally</li>
                            <li>How to create a company and ledgers in Tally</li>
                            <p class="view">click here to view curriculam >></p>
                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/photoshop img.png">
                        <h1>photoshop</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Understand the Photoshop interface</li>
                            <li>Retouch and blend two images</li>
                            <li>Understand layers</li>
                            <li>Use effects and filters</li>
                            <li>Use the History Panel & Save a file for the web</li>
                            <p class="view">click here to view curriculam >></p>
                        </ul>
                    </div>

                </div>

            </div>


            <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/pagemaker img.jpg">
                        <h1>page maker</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>New PageMaker features</li>
                            <li>PageMaker introduction</li>
                            <li> tools in  PageMaker</li>
                            <li>about DTP</li>
                            <li>Work With Text in PageMaker</li>
                            <li>Creating Columns in pagemaker</li>
                            <p class="view">click here to view curriculam >></p>
                        </ul>
                    </div>

                </div>

            </div>



        </div>
    </div>
</div>