*{
    padding: 0px;

}
img{
    max-width: 100%;
}
.home-sec{
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 200px;
    margin-top: 137px;
}
.banner-sec{
    height: 400px;
    width: 100%;
    background-color: blanchedalmond;
}
.carousel-item{
    height: 400px;
    width: 100%;
}
.carousel-item img{
    height: 500px;

}
.container-sec{
    width: 100%;
    display: flex;
    margin: 1px auto;
    
}
.containercards-sec{
    padding: 0px 5%;
    background-color:#edebeb;
    background-color: #ecf5fc;

}
.containercards-sec h1{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.cards{
    height: 430px;
    width: 300px;
    border-radius: 10px;
    margin: 100px auto 20px auto;
    position: relative;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.2),
                inset -5px -5px 15px rgba(255,255,255,.1),
                5px 5px 15px rgba(0,0,0,.3),
                -5px -5px 15px rgba(255,255,255,.1);
                cursor: pointer;
                transition: 0.5s;
                background: linear-gradient(rgba(39, 107, 235,0.7),rgba(0,0,0));
                background-position: center;
                background-size: cover;
            
}
.cards:hover .img-sec{
    padding: 0px;
    transition: 0.5s;
    font-size: 15px;
}
.cards:hover .img-sec h1{
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;

}

.img-sec{
    height: 150px;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    margin-left: 50px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.2),
    inset -5px -5px 15px rgba(255,255,255,.1),
    5px 5px 15px rgba(0,0,0,.3),
    -5px -5px 15px rgba(255,255,255,.1);
    padding: 10px;
    background: linear-gradient(rgba(48, 4, 243, 0.7),rgba(0,0,0));
    transition: 0.5s;
}
.img-sec img{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}
.img-sec h1{
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-family: revert;
    padding: 12px;
    transition: 0.5s;

}
.content-sec{
    padding-top: 150px;
}
.content-sec ul{

    padding-left: 50px;
}
.content-sec ul li{
    color: #fff;
    list-style-type: circle;
    line-height: 2.5;
    text-transform: capitalize;
    font-size: 14px;
    padding: 3px;    
}
.view{
    color: blue;
    text-transform: capitalize;
    font-size: 15px;
}




@media only screen and (max-width:992px){
    
.containercards-sec{
}
.container-sec{
}
.home-sec{
    margin-top: 137px;
}





}

