*{
    padding: 0px;

}
img{
    max-width: 100%;
}
.home-sec{
    height: 100%;
    width: 100%;
    z-index: 1;

    
}
.banner-sec{
    height: 400px;
    width: 100%;
    background-color: blanchedalmond;
}
.carousel-item{
    height: 400px;
    width: 100%;
}
.carousel-item img{
    height: 500px;

}
.container-sec{
    width: 100%;
    
}
.containercards-sec{
    padding: 0px 5%;
    background-color:#edebeb;

}
.cards{
    height: 350px;
    width: 300px;
    border-radius: 10px;
    margin: 100px auto;
    position: relative;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.2),
                inset -5px -5px 15px rgba(255,255,255,.1),
                5px 5px 15px rgba(0,0,0,.3),
                -5px -5px 15px rgba(255,255,255,.1);
                cursor: pointer;
                transition: 0.5s;
                background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4));
                background-position: center;
                background-size: cover;
            
}
.cards:hover{
    transform:translateY(-30px);
    box-shadow: 0 20px 40px rgba(255,255,255,.5);
}
.img-sec{
    height: 150px;
    width: 240px;
    background-color:white;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    margin-left: 30px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.2),
    inset -5px -5px 15px rgba(255,255,255,.1),
    5px 5px 15px rgba(0,0,0,.3),
    -5px -5px 15px rgba(255,255,255,.1);


}
.img-sec img{
    height: 150px;
    width: 240px;
    border-radius: 10px;
}
.content-sec{
    padding-top: 160px;
    width: 70%;
    margin-left: 30px;
    margin: auto;
}
.content-sec ul li{
    color:#fff;
    list-style-type: circle;
    
}




@media only screen and (max-width:992px){
    
.containercards-sec{
}
.container-sec{
}




}

