<div class="container-fluid home-sec">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <img src="../../assets/images/banner1.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="../../assets/images/banner 2.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>

            </div>
 
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="containercards-sec">
        <h1>courses</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">
                        <img src="../../assets/images/word.png">
                        <h1>ms word</h1>

                    </div>

                    <div class="content-sec" id="nag">
                        <ul>
                            <li>New Microsoft Word features.</li>
                            <li>create & collaborate on documents.</li>
                            <li>Formatting texts & paragraphs.</li>
                            <li>and many more...</li>
                            <p class="view" routerLink="/Courses/Dca" >click here to view curriculam >></p>

                        </ul>
                    </div>
                </div>
            </div>

            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/ms excel img2.jpg">
                        <h1>ms excel</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Newest Features of Excel</li>
                            <li>Performing basic to advanced calculations using formulas</li>
                            <li>Pivot tables and pivot charts</li>
                            <li>and many more...</li>

                            <p class="view" routerLink="/Courses/Dtp">click here to view curriculam >></p>


                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/PowerPoint img2.jpg">
                        <h1>ms powerpoint</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>New PowerPoint features</li>
                            <li>Formatting and organizing slides</li>
                            <li>Working with graphics, tables and charts</li>
                            <li>and many more...</li>
                            <p class="view" routerLink="/Courses/Powerpoint">click here to view curriculam >></p>
                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/c language.png">
                        <h1>c language</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Overview of C</li>
                            <li>Datatypes & Variables Declaration</li>
                            <li>Implicit and Explicit Casting</li>
                            <li>Enum and Constant</li>
                            <li>and many more...</li>
                            <p class="view" routerLink="/Courses/C">click here to view curriculam >></p>


                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/c++ img 2.png">
                        <h1>c++</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Overview of C++</li>
                            <li>Decision Control and Looping Statements.</li>
                            <li>Functions & arrays</li>
                            <li>and many more...</li>

                            <p class="view" routerLink="/Courses/Cplusplus">click here to view curriculam >></p>


                        </ul>
                    </div>

                </div>

            </div>


            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class="cards">
                    <div class="img-sec">

                        <img src="../../assets/images/csharp img.jpg">
                        <h1>C# </h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Overview of C#</li>
                            <li>History and introduction.</li>
                            <li>Implicit and Explicit Casting</li>
                            <li>Control statement, functions</li>
                            <li>and many more...</li>
                            <p class="view" routerLink="/Courses/Csharp">click here to view curriculam >></p>


                        </ul>
                    </div>

                </div>

            </div>


            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/dotnet img.jpg">
                        <h1>.net</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>.NET Framework introduction</li>
                            <li>Framework Components</li>
                            <li>Base Class Library and etc..</li>
                            <li>CTS,CLS & JIT compilers</li>
                            <li>and many more...</li>
                            <p class="view" routerLink="/Courses/Dotnet">click here to view curriculam >></p>

                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/java img.png">
                        <h1>java</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Getting Started With Java</li>
                            <li>Essential Java Programming</li>
                            <li>Object Oriented Development</li>
                            <li>Exception Handling</li>
                            <li>and many more...</li>
                            <p class="view" routerLink="/Courses/Java">click here to view curriculam >></p>

                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/python img2.png">
                        <h1>python</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Set up Python and develop a simple application.</li>
                            <li>data types & data structures.</li>
                            <li>conditional statements and loops.</li>
                            <li>and many more...</li>

                            <p class="view" routerLink="/Courses/Python">click here to view curriculam >></p>

                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/tally img.png">
                        <h1>tally</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>How to view and generate financial reports in Tally</li>
                            <li>How to record business transactions in Tally</li>
                            <li>and many more...</li>
                            <p class="view" routerLink="/Courses/Tally">click here to view curriculam >></p>
                        </ul>
                    </div>

                </div>

            </div>

            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/photoshop img.png">
                        <h1>photoshop</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>Understand the Photoshop interface</li>
                            <li>Retouch and blend two images</li>
                            <li>Understand layers</li>
                            <li>and many more...</li>
                            <p class="view" routerLink="/Courses/Photoshop">click here to view curriculam >></p>
                        </ul>
                    </div>

                </div>

            </div>


            <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-3 container-sec">
                <div class=" cards">
                    <div class="img-sec">

                        <img src="../../assets/images/pagemaker img.jpg">
                        <h1>page maker</h1>

                    </div>

                    <div class="content-sec">
                        <ul>
                            <li>New PageMaker features</li>
                            <li>PageMaker introduction</li>
                            <li> tools in  PageMaker</li>
                            <li>about DTP</li>
                            <li>and many more...</li>
                            <p class="view" routerLink="/Courses/Pagemaker">click here to view curriculam >></p>
                        </ul>
                    </div>

                </div>

            </div>



        </div>
    </div>
</div>



