*{
    padding: 0px;

}
img{
    max-width: 100%;
}
.home-sec{
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 200px;
    margin-top: 137px;
}
.banner-sec{
    height: 500px;
    width: 100%;
}
.carousel-item{
    height: 500px;
    width: 100%;
}
.carousel-item img{
    height: 500px;

}
.container-sec{
    width: 100%;
    display: flex;
    margin: auto;
    
}
.containercards-sec{
    padding: 0px 5%;
    background-color: #fff;

}
.containercards-sec h1{
    text-transform:capitalize;
    font-weight: bold;
    color: rgb(2, 50, 66);
    font-family: bree serif;
    font-size: 25px;
    border-bottom: 3px solid deepskyblue;
    width: 200px;
    margin: auto;

}
.cards{
    height: 390px;
    width: 280px;
    border-radius: 10px;
    margin: 30px auto 20px auto;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.2),
                inset -5px -5px 15px rgba(255,255,255,.1),
                5px 5px 15px rgba(0,0,0,.3),
                -5px -5px 15px rgba(255,255,255,.1);
                background:url(../../assets/images/back1.jpg);
                background-size: cover;
            
}

.content-sec{
    width: 280px;
    background-color: rgba(0,0,0,.6);
    font-family: roboto;
 
    border-radius: 10px;
}
.content-sec ul{
    padding-left: 50px;
}

.content-sec ul li{
    color: white;
    list-style-type: circle;
    line-height: 3.5;
    text-transform: capitalize;
    font-size: 14px;
    padding: 3px;  
    font-weight: 200;
}

.logos p{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
    font-family: bree serif;
}
.btn-infos{
    border: none;
    color: rgb(208, 224, 245);
    background-image: radial-gradient(rgb(16, 93, 138),rgb(9, 3, 99));
    font-family: bree serif;
}


@media only screen and (max-width:992px){
    
.home-sec{
    margin-top: 137px;
}

}

